@page
@model UpdateGmave
@{
	ViewData["Title"] = "UpdateGame";
}
<div class="panel panel-success">
	<form method="POST">
		<button class="UserButton" type="submit" asp-page-handler="Cancel">Отмена</button>
	</form>
	<div class="panel-heading text-center"><h4>@Model.ActionForGame игру</h4></div>
	<div class="panel-body">
		<form asp-action="Register" method="post" enctype="multipart/form-data">
			@*<div asp-validation-summary="All" class="text-danger"></div>*@
			<div class="form-group">
				<label asp-for="@Model.Title">Название:</label>
				<input asp-for="@Model.Title" />
			</div>
			<div class="form-group">
				<label asp-for="@Model.Description">Описание:</label>
				<input asp-for="@Model.Description" />
			</div>
			<div class="form-group">
				<label asp-for="@Model.SourceCodeForm">Код игры</label>
				<input type="file" asp-for="@Model.SourceCodeForm" />
			</div>
			<div class="form-group">
				<label asp-for="@Model.UrlIconForm">Иконка</label>
				<input type="file" asp-for="@Model.UrlIconForm" />
			</div>
			<div class="text-center">
				<button class="btn bg-primary" type="submit" asp-page-handler="Submit">@Model.ActionForGame игру</button>
			</div>
		</form>
	</div>
</div>
<h1>Результат:</h1>
<div>Ошибка: @Model.Error</div>