@page
@model PageGameModel
@{
}


<head>
    <style rel="stylesheet">
        #BlockUser {
            display: block;
            width: 200px;
            margin-top: 10px;
            margin-bottom: 10px;
            border-color: black;
        }

        .UserButton {
            display: block;
            padding: 5px;
            margin: 10px;
            border-color: black;
            background-color: #e2e2e2;
        }
    </style>
</head>
<fieldset>
    <h3>Название: @Model.Game.Title</h3>

    <h3>Описание: @Model.Game.Description</h3>

    <h3>Оценка: @Model.Game.Rating</h3>
    <img style="width:100px; height:100px;" src="@Model.Game.PathIcon" alt="GameIcon" />

    <form method="POST">
        <button class="UserButton" type="submit" asp-page-handler="StartGame">Играть</button>
    </form>
</fieldset>

@if (Model.UserId != 0)
{
    <form method="POST">
        <div class="form-group">
            <label asp-for="@Model.Comment">Комментарий:</label>
            <input type="text" height="300" maxlength="400" placeholder="Не более 400 символов..." rows="4" cols="100" asp-for="@Model.Comment" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.Mark">Оценка:</label>
            <br />
            <input type="radio" asp-for="@Model.Mark" value="1" /> 1 <br />
            <input type="radio" asp-for="@Model.Mark" value="2" /> 2 <br />
            <input type="radio" asp-for="@Model.Mark" value="3" /> 3 <br />
            <input type="radio" asp-for="@Model.Mark" value="4" /> 4 <br />
            <input type="radio" asp-for="@Model.Mark" value="5" checked="checked" /> 5 <br />
        </div>
        <button class="UserButton" type="submit" asp-page-handler="SendComment">Оценить</button>
    </form>
}

<h3>Комментарии:</h3>
<div id="ListCommets">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Имя</th>
                <th>Комментарий</th>
                <th>Оценка</th>
                <th>Дата</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var review in Model.Reviews)
            {
                    <tr>
                        <td>@review.UserName</td>
                        <td>@review.Comment</td>
                        <td>@review.Mark</td>
                        <td>@review.Date</td>
                    </tr>
            }
        </tbody>
    </table>
</div>
